.error{
    color: red;
}
.errorInput{
    border: solid 2px red;
    border-radius: 5px;
}
.send{
    color: green;
    text-align: center;
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}
.address-col{
    border-left: solid 1px grey;
}



@media screen and (min-width: 200px) and (max-width: 768px) {
    .google_map{
        width: 100%;
    }
    .address-col{
        border-left: none;
    }
}